<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.pipitrace.app.PipiApplication"
            name="pipitrace">
         <property
               name="appName"
               value="pipitrace">
         </property>
      </product>
   </extension>
   <extension
         id="net.sf.pipitrace.app.PipiApplication"
         name="pipitrace application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.pipitrace.app.PipiApplication">
         </run>
      </application>
   </extension>
</plugin>
